# Ignore environment variables
.env

# Ignore node_modules (do not commit packages)
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
